<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springapp.mvc.dao.IUsersDao">
    <resultMap id="users" type="com.springapp.mvc.domain.Users">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
    </resultMap>


    <select id="findById" parameterType="java.lang.String" resultMap="users">
        select id,name,address from t_users where  id=#{id}
    </select>
    <select id="select" resultMap="users">
        select id,name,address from t_users
    </select>
    <insert id="save" parameterType="com.springapp.mvc.domain.Users">
        insert into t_users(id,name,address) values(#{id},#{name},#{address})

    </insert>
</mapper>